<html>
  <head>
    <title>Tìm bác sỹ gần đây</title>
  </head>
	<body>
	<div id="map-container">
  	<div id="map-canvas"></div>
	</div>
</body>
<script>
$(document).ready(function() {
    loadScript();
		
});
</script>
</html>