<html>
  <head>
    <title>Tìm bác sỹ gần đây</title>
  </head>
	<div id="map-container">
  	<div id="map-canvas"></div>
	</div>

<script>
$(document).ready(function() {
    loadAllClinicScript();
		
});
</script>
</html>