<html>p
  <head>
    <title>Tìm bác sỹ gần đây</title>
  </head>
	<body>
	<div id="map-container">
  	<div id="map-canvas"></div>
	</div>p
<% if @all_clinic%>
  <% @all_clinic.each_slice(3) do |gigs| %>
    	<div class="row">      
            <% gigs.each do |gig| %>
                <div class="col s4">
									
			 <%=render partial: "gigcard", locals:{gig: gig} %> 

                </div>
            <% end %>    
	    </div>
  <% end %>
<% end %>
</body>
<script>
$(document).ready(function() {
    loadScript();
    loadAllClinicScript();		
});

$(document).ready(function() {
    createMarker(); 
});

</script>
</html>