<html>
  <head>
  <title>Tìm bác sỹ gần đây</title>
  </head>
  <body>
  <div id="map-container">
  <div id="map-canvas"></div>
  </div>
<% if @all_clinic%>
  <% @all_clinic.each_slice(3) do |gigs| %>
  <div class="row">      
  <% gigs.each do |gig| %>
  <div class="col s4">
    <%=render partial: "gigcard", locals:{gig: gig} %> 
  </div>
  <% end %>    
  </div>
  <% end %>
<% end %>
<p>Không tìm thấy phòng khám mà bạn biết? Hãy giúp chúng tôi và cộng đồng bằng việc 
<%= link_to "thêm phòng khám mới!", add_clinic_page_client_clinics_path, method: 'get' %></p>
</body>
<script>
$(document).ready(function() {
  loadAllClinicScript();
});
</script>
</html>