<html>
  <head>
  <title>Doctor near you</title>
  </head>
  <body>
  <%= form_tag(clinics_path, method: 'get',remote: true) do %>
  <div class="section">
    <div class="row">
      <!-- CITY -->
      <div class="input-field col s10">
        <%= text_field_tag :q, nil, class: 'validate', style: 'border-bottom: 2px solid #039be5' %>
        <label for="q">Type to search...</label>
      </div>

      <div class="input-field col s2" style="vertical-align: middle">
        <button class="btn waves-effect waves-light black-text" type="submit" style="width:100%">
          <i class="material-icons">search</i>
        </button>
      </div>
    </div> <!-- end row -->
  </div> <!-- end section -->
<% end %>
  <div id="map-container">
  <div id="map-canvas"></div>
  </div>
<div class="clinics">
  <%=render partial: "gigcards", locals: { all_clinic: @all_clinic} %>
</div>
<p>
  Không tìm thấy phòng khám bạn biết? Chia sẻ với chúng tôi và cộng đồng <%= link_to "thông tin về phòng khám mà bạn biết", add_clinic_page_client_clinics_path, method: 'get' %>
</p>
</body>
<script>
$(document).ready(function() {
  loadAllClinicScript();
});
</script>
</html>