<div class="row">
    <div class="col s12">
      <h5>Review your service set up before start</h5>
      <div>
      <%= form_tag simulator_drlocs_path, :method => 'get' do %>
        Service cost<%= number_field_tag :fee,@fee,placeholder:"",class:"form-control"%>
        <%= submit_tag "send", class: 'btn waves-effect waves-light', :onclick => "return confirmPrice();"%>
      <% end %>
      </div>
    </div>
</div>
<script>
function confirmPrice()
{
  var cost = $('input[id=fee]').val();
  return confirm("Are you sure your service cost is "+cost);
}
</script>