<div class = 'container' %>
  <h1 class = 'center-align'><%= @article.title %></h1>
  <div class = 'card-panel hoverable'>    
    <div style = 'word-wrap: break-word;'>
      <%= @article.content %>
    </div>
  </div>
</div>
