<div class="clinic col s12 m6 l4">
  <div class="clinic-name">
    <%= clinic.name %>
  </div>
  <div class="clinic-photo">
    <%= image_tag clinic.photos %>
  </div>

  <div class="clinic-address">
    <p>
      <i class="material-icons">place</i>
      <%= clinic.address %>
    </p>
  </div>
</div>
