<div class="col s12 m4">
  <div class="card">

    <div class="card-image">
      <!-- TODO DOCTOR AVATAR GOES HERE-->
      <span class="card-title black-text">Bác sĩ <%= doctor.name %></span>
    </div>

    <div class="card-content">
      <p><%= doctor.expertise %></p>
    </div>

    <div class="card-action">
      <a href="#">Thông tin</a>
      <a href="#">Đặt khám</a>
    </div>

  </div>
</div>
