<div class="col s12 m4">
  <div class="card">

    <div class="card-image">
      <!-- TODO DOCTOR AVATAR GOES HERE-->
      <img src="http://lorempixel.com/480/640/people" alt="">

      <span class="card-title white-text">Bác sĩ <%= doctor.name %></span>
    </div>

    <div class="card-content">
      <p><i class="material-icons">done</i> <%= doctor.expertise %></p>
    </div>

    <div class="card-action">
      <a href="#">Thông tin</a>
      <a href="#">Đặt khám</a>
    </div>

  </div>
</div>
