<div class="section no-pad-bot" id="index-banner">
    <br><br>
    <h1 class="header center orange-text">Book your best doctors</h1>
    <div class="row center">
      <h5 class="header col s12 light">
        Tired of waiting? Cant find best doctor ? Low budget ?
        </h5>
    </div>
    <div class="row center">
      <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">
        WE COULD HELP
      </a>
    </div>
    <br><br>
</div>

<!-- SHOW ALL THE DOCTORS -->
<div class="section">
  <!-- SEARCH INPUT -->
  <div class="row">
    <div class="input-field col s12 m4">
      <%= form_tag nil, method: 'get', class: 'inline' do %>
        <%= text_field_tag :q, nil, class: 'validate' %>
        <label for="q">Ví dụ: "bác sĩ Long sản ở Ba Đình"</label>
        <button class="btn waves-effect waves-light" type="submit">
          <i class="material-icons">search</i>
        </button>
      <% end %>
    </div>
  </div>

  <!-- LIST OF DOCTORS -->
  <div class="row">
    <% @doctors.each do |doctor| %>
      <%= render partial: 'shared/doctor_card', locals: {doctor: doctor} %>
    <% end %>
  </div>
</div> <!--end section -->
