<div itemscope>
  <h1 class="title">
    <strong>Đặt khám online</strong>
  </h1>
</div>

<div itemscope>
  <p itemprop="name">
    <strong>Đặt khám online</strong>
  </p>
  <ul itemscope>
    <li><em>Đặt khám online</em></li>
    <li><em>Đặt khám online</em></li>
    <li><em>Đặt khám online</em></li>
    <li><em>Đặt khám online</em></li>
    <li><em>Đặt khám online</em></li>
  </ul>
</div>
