<% if @bookings %>
    <br>
    <h3 class="center-align">Checkout reviewing</h3>
<br>
	<%= form_for @cart do |cart|%>
		<% @bookings.each do |booking|%>
      <div class="row">
        <%=render partial: "shared/cart_item", locals:{booking: booking} %>
      </div>
		<% end %>
  <div class="center-align">
		<button class="btn waves-effect waves-light" type="submit" name="action">
				Confirm and pay<i class="material-icons right">send</i>
		</button>
  </div>
	<% end %>
<% else %>
<p>Bạn chưa chọn lịch khám nào</p>
<% end %>

<br><br>
