<div class="row">
<% if @bookings %>
	<%= form_for @cart do |cart|%>
		<% @bookings.each do |booking|%>
      <%=render partial: "shared/cart_item", locals:{booking: booking} %>
		<% end %>
		<button class="btn waves-effect waves-light" type="submit" name="action">
				Thanh Toán<i class="material-icons right">send</i>
		</button>
	<% end %>
<% else %>
<p>Bạn chưa chọn lịch khám nào</p>
<% end %>
</div>