<div class="row">
	<% @bookings.each do |booking|%>
     <%=render partial: "shared/cart_item", locals:{booking: booking} %>
     <%=render partial: "shared/add_patient", locals:{booking: booking} %>
	 <% end %>
</div>