    <div class="card horizontal">
      <div class="card-image">
        <img src="http://lorempixel.com/100/190/people/3">
      </div>
      <div class="card-stacked">
        <div class="card-content">
                <p><i class="material-icons">face</i><%= patient.name %></p>
                <p><i class="material-icons">date_range</i><%= patient.age %> years old
                </p>
                <p><i class="material-icons">accessibility</i><%= patient.gender_title %></p>
        </div>
        <div class="card-action">
          <%= link_to "View history",patient_path(patient.id)%>
        </div>
      </div>
    </div>
