<div class="comment card">
  <div class="card-content">
    <div class="doctor-rating" data-score="<%= comment.rate %>"></div>
    <div class="card-title"><%= comment.title %></div>
    <p><%= comment.content %></p>
  </div>
</div>
