<div class="question">
  <div class="content">
    <%= question.content %>
  </div>
  <div class="timestamps">
    <%= question.created_at %>
  </div>
  <div class="answer">
    <%= question.answer %>
  </div>
</div>
