/*
*= require material_icons
*/

// @import "bootstrap";
// @import "font-awesome";
@import "materialize";
@import "_variables";
@import "_pagination";
@import "_overwrite";
@import "_common";
//Layout
nav .brand-logo {
  text-transform: uppercase;
  font-size: 1.8rem;
}

ul#currentUserAction {
  width: 150px !important;
}

// Custom
.icon-block {
    padding: 0 15px;
    .material-icons {
        font-size: inherit;
    }
}

// Users
.users-shared-links {
    margin-top: 30px;
}

#map-container {
    height: 600px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
}

#map-canvas {
    height: 100%; //384px;
    width: 100%;
}

// Users
.users-shared-links {
  margin-top: 30px;
}
