/*
*= require material_icons
*/

// @import "bootstrap";
// @import "font-awesome";
//
@import "materialize";
@import "_variables";
@import "_overwrite";
@import "_common";
//Layout
nav .brand-logo {
    text-transform: uppercase;
    font-size: 1.8rem;
}

ul#currentUserAction {
    width: 150px !important;
}

// Custom
.icon-block {
    padding: 0 15px;
    .material-icons {
        font-size: inherit;
    }
}

// Users
.users-shared-links {
    margin-top: 30px;
}

#map-container {
    height: 600px;
    border-radius: 16px 16px;
    border-color: #fff;
    border-style: solid;
    box-shadow: 2px 2px 10px #B1B1B1;
    margin-top: 25px;
    border-width: 7px;
}

#map-canvas {
    height: 100%; //384px;
    width: 100%;
}

// Gigs
//
.tt-input {
  margin: 0px !important;
}

.tt-open {
  background: #fff;
  padding: 5px;
}

.tt-menu {
  width: 422px;
  margin: 0px 0 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-highlight {
  background-color: #3498db;
}

.tt-suggestion:hover {
  background: #bdc3c7;
  cursor: pointer;
}
