<!DOCTYPE html>
<html>
  <head>
    <title>Đặt khám online</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="description" content="Đặt khám online" />
    <meta name="robots" content="noodp,index,follow" />
    <meta property="og:title" content="Đặt khám online" />
    <meta property="og:description" content="Đặt khám online" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
